mixin insert-image(name, alt)
	-alt = alt || 'image'
	img(alt="#{alt}" src="img/#{name}")


doctype html
html(lang="en")
	head
		block title_name
			title Tempalate title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="msapplication-tap-highlight" content="no")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="stylesheet" href="css/screen.css")
	body


		block header

		block main_content

		script(src="js/index.js")



