mixin slide(data)
	.slide
		.slide_inner
			.slide_image
				+insert-image(data.image, data.image_alt)
			.slide_description
				h2.slide_description-name=data.name
				p.slide_description-title=data.title

